#head{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(172, 114, 154);
    font-size: 30px;
    align-items: center;
    padding-top: 7px;
}


#foot{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(172, 114, 154);
    font-size: 30px;
    align-items: center;
}